    <div class="row">
        <div class="twelve columns">
            <h1>Ember on the mobile :)</h1>
            <hr>
            {{#linkTo 'index'}}Index{{/linkTo}}
            <p>{{outlet}}</p>
        </div>
    </div>
    <div class='bottomNav' id="bottomNav">
    </div>
